.App {
  text-align: center;
}

article {
  display: flex;
  flex-direction: column;
  padding: 2em;
  border-style: solid;
  border-width: 1px;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
  margin: 2em;
}

.startRow {
  display: flex;
  justify-content: space-around;
}

.hide {
  visibility: hidden;
}
